fastapi
uvicorn
langchain
langchain-community
langchainhub
langchain-core
chromadb
httpx
pydantic
tqdm
sentence-transformers
openrouter
langchain-huggingface
openai
pypdf
streamlit
requests
rapidfuzz
re
dotenv
os
shutil
PyPDF2